version : '2'
services:
    frontend:
        image: "nginx:latest"
        volumes:
            - ./frontend/config/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./frontend/data:/var/www:ro
            - ./frontend/cert/api.fri3d.be.crt.pem:/api.fri3d.be.crt.pem:ro
            - ./frontend/cert/api.fri3d.be.key.pem:/api.fri3d.be.key.pem:ro
            - ./frontend/cert/content.fri3d.be.crt.pem:/content.fri3d.be.crt.pem:ro
            - ./frontend/cert/content.fri3d.be.key.pem:/content.fri3d.be.key.pem:ro
        ports:
            - "80:80"
            - "443:443"
        links:
            - api:api
    api:
        build: ./api/
        links:
            - store:store
        volumes:
            - ./api:/api
        env_file: env
    store:
        image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
        volumes:
            - ./store/data:/usr/share/elasticsearch/data
            - ./store/backups:/backups
        ulimits:
            memlock:
                hard: -1
                soft: -1
        mem_limit: 4G
        environment:
            - cluster.name=docker-cluster
            - bootstrap.memory_lock=true
            - path.repo=/backups
            - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
        env_file: env
